<h1>Ask a question to your coach:</h1>

<form action="/" method="get">
  <label for="question">Write here:</label>
  <input type="text">
  <input type="submit">
</form>

<% link_to 'Go to the next page', coach_path %>
